<figure class="card">
  <div class="cover">
    <img src="{%PLACEHOLDER-COVER%}" alt="{%PLACEHOLDER-TITLE%}" />
  </div>
  <div class="info">
    <div class="title"><b>Title</b>: {%PLACEHOLDER-TITLE%}</div>
    <div class="author"><b>Author</b>: {%PLACEHOLDER-AUTHOR%}</div>
    <div class="genre"><b>Genre</b>: {%PLACEHOLDER-GENRE%}</div>
    <div class="price"><b>Price</b>: {%PLACEHOLDER-PRICE%}</div>
  </div>
  <div class="actions">
    <button class="btn-details">Details</button>
  </div>
  <div class="best-seller">
    <span class="best">BEST</span><br />
    <span>SELLER!</span>
  </div>
</figure>
